<div [align]="'center'" class="main-grid-col-12">
    <!-- Logo -->
  <div class="p-text-center">
    <img src="assets/SarAIh_Maas_V2.png" alt="Sarah Maas" width="300">
    <h5>SarAIh Maas can give you detailed analysis on the Crescent City series of Sarah Maas Books</h5>
  </div>

  <!-- Chapter selection -->
  <div class="chapter-col">    
    <p-select 
        [options]="books" 
        [(ngModel)]="selectedBook"
        placeholder="Select a Book"
        (onChange)="onBookChange()">
    </p-select>
  <br>
    <div class="chapter-row">
      @if (selectedBook) {
      <p-select 
          [options]="chapters" 
          [(ngModel)]="selectedChapter"
          (onChange)="onChapterChange()"
          placeholder="Select a Chapter">
      </p-select>
      }
      @if (selectedChapter) {
      <p-button [raised]="true"
          label="Show Entire Chapter"
          icon="pi pi-book" 
          (onClick)="fetchChapterContent(selectedChapter)">
        </p-button>
      }
    </div>
  </div>

  <p-dialog
    header="Chapter Summary"
    [modal]="true"
    [style]="{width: '40vw'}"
    [closable]="true"
    [(visible)]="displayDialog"
    (onHide)="onHideDialog()">
    @if (!dataFetch) {
      <p-progress-spinner ariaLabel="loading" />
    }
    @if (chapterContent != '') {
    <div>
      {{chapterContent}}
    </div>
    }
    @else {
      <div>
        <label class="font-color: solid rgb(100,0,0);">No Summary Available</label>
      </div>
    }
  </p-dialog>

  <!-- Summary options -->
  <div *ngIf="selectedChapter" class="p-col-6">
    <h4>🧪 Deep Analysis Summaries</h4>
    <div class="summary-radio-row">
      <p-radiobutton name="summary" value="summary1" [(ngModel)]="summaryoption" inputId="summaryoption1" (onClick)="selectSummaryOption(summaryoption)"/>
      <label for="summaryoption1">&nbsp;&nbsp;Summary 1 - Summarize entire chapter using regular ChatGPT</label>
    </div>
    <div class="summary-radio-row">
      <p-radiobutton name="summary" value="summary2" [(ngModel)]="summaryoption" inputId="summaryoption2" (onClick)="selectSummaryOption(summaryoption)"/>
      <label for="summaryoption2">&nbsp;&nbsp;Summary 2 - Summarize the chapter part by part and merge</label>
    </div>
    <div class="summary-radio-row">
      <p-radiobutton name="summary" value="summary3" [(ngModel)]="summaryoption" inputId="summaryoption3" (onClick)="selectSummaryOption(summaryoption)"/>
      <label for="summaryoption3">&nbsp;&nbsp;Summary 3 - Merge Summary 1 and Summary 2 using regular ChatGPT</label>
    </div>
  </div>

  <!-- Generate Summary Button -->
   @if (selectedSummary === "summary1" || selectedSummary === "summary2") {
    <div class="col-12" [align]="'center'" style="margin-top: 20px;">
      <div>
        <p-button
          label="Generate Summary" 
          icon="pi pi-clipboard" 
          (onClick)="generateSummary()" >
        </p-button>
      </div>
    </div>
  }
  
</div>