@use "primeicons/primeicons.css";

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: normal;
    font-weight: 400;
    background: #000; /* Black background */
    color: #eee;      /* Light text for contrast */
}
